doctype html
html(lang='en')
  head
    title FCC Timestamp Microservice
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css')
  body
    .ui.container
      block content
